@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2a2a2b;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  min-height: calc(100vh - 192px);
}

.homeGrid {
  display: grid;
  grid-template-rows: minmax(30px, 50px) 1fr;
  border-radius: 0 0 10px 10px;
}

.buttonContainer button:first-of-type {
  border-radius: 10px 0 0 0;
}
.buttonContainer button:last-of-type {
  border-radius: 0 10px 0 0;
  /* background-color: #ff9b28; */
}
